.menu-box {
  text-align: center;
  color: #303030;
}
.menu-btns button {
  font-size: 1.2em;
  font-weight: bold;
  width: 80%;
  margin-bottom: 30px;
  padding: 16px;
  color: #FFFAFA;
  background-color: #FFFFFF;
  border: 2px solid;
  border-radius: 40px;
  word-wrap: break-word;
}
.menu-btns button:focus {
  outline: none;
}

/* START */
.menu-btns button.start {
  color: #FFFFFF;
  background-color: #95CC5D;
  border-color: #95CC5D;
}
.menu-btns button.start:hover {
  color: #95CC5D;
  background-color: #FFFFFF;
}
/* START */

/* PAUSE */
.menu-btns button.pause {
  color: #FFFFFF;
  background-color: #FFA500;
  border: 2px solid #FFA500;
}
.menu-btns button.pause:hover {
  color: #FFA500;
  background-color: #FFFFFF;
}
/* PAUSE */

/* RESUME */
.menu-btns button.resume {
  color: #FFFFFF;
  background-color: #3C4F6F;
  border-color: #3C4F6F;
}
.menu-btns button.resume:hover {
  color: #3C4F6F;
  background-color: #FFFFFF;
}
/* RESUME */

/* RESET */
.menu-btns button.reset {
  color: #FFFFFF;
  background-color: #DC143C;
  border-color: #DC143C;
}
.menu-btns button.reset:hover {
  color: #DC143C;
  background-color: #FFFFFF;
}
/* RESET */

/* COMPARE */
.menu-btns button.compare {
  color: #FFFFFF;
  background-color: #48C1F0;
  border-color: #48C1F0;
}
.menu-btns button.compare:hover {
  color: #48C1F0;
  background-color: #FFFFFF;
}
/* COMPARE */

/* randomize */
.menu-btns button.randomize {
    color: #FFFFFF;
    background-color: #696969;
    border-color: #696969;
}
.menu-btns button.randomize:hover {
  color: #696969;
  background-color: #FFFFFF;
}
/* randomize */

/* LOCKED BUTTONS */
.menu-btns button.start.lock,
.menu-btns button.pause.lock,
.menu-btns button.resume.lock,
.menu-btns button.compare.lock,
.menu-btns button.randomize.lock {
  color: #808080;
  background-color: #D3D3D3;
  border: 2px solid #D3D3D3;
}
.menu-btns button.start.lock:hover,
.menu-btns button.pause.lock:hover,
.menu-btns button.resume.lock:hover,
.menu-btns button.compare.lock:hover,
.menu-btns button.randomize.lock:hover {
  color: #FFFFFF;
  background-color: #D3D3D3;
}
/* LOCKED BUTTONS */
