.menu-box {
  text-align: center;
  color: #303030;
}

.menu-btns button {
  font-size: 1.2em;
  font-weight: bold;
  width: 80%;
  margin-bottom: 30px;
  padding: 16px;
  color: #FFFAFA;
  background-color: #FFFFFF;
  border: 2px solid;
  border-radius: 40px;
  word-wrap: break-word;
}

.menu-btns button:focus {
  outline: none;
}

/* START */
.menu-btns button.start {
  color: #95cc5d;
  border-color: #95cc5d;
}
.menu-btns button.start:hover {
  color: #FFFFFF;
  background-color: #95cc5d;
  border-color: #95cc5d;
}
/* START */

/* PAUSE */
.menu-btns button.pause {
  color: #FFA500;
  border-color: #FFA500;
}
.menu-btns button.pause:hover {
  color: #FFFFFF;
  background-color: #FFA500;
  border: 2px solid #FFA500;
}
/* PAUSE */

/* RESUME */
.menu-btns button.resume {
  color: #3C4F6F;
  border-color: #3C4F6F;
}
.menu-btns button.resume:hover {
  color: #FFFFFF;
  background-color: #3C4F6F;
  border-color: #3C4F6F;
}
/* RESUME */

/* RESET */
.menu-btns button.reset {
  color: #DC143C;
  border-color: #DC143C;
}
.menu-btns button.reset:hover {
  color: #FFFFFF;
  background-color: #DC143C;
  border-color: #DC143C;
}
/* RESET */

/* COMPARE */
.menu-btns button.compare {
  color: #48C1F0;
  border-color: #48C1F0;
}
.menu-btns button.compare:hover {
  color: #FFFFFF;
  background-color: #48C1F0;
  border-color: #48C1F0;
}
/* COMPARE */

/* LOCKED BUTTONS */
button.start.lock,
button.pause.lock,
button.resume.lock,
button.compare.lock {
  color: #808080;
  background-color: #D3D3D3;
  border: 2px solid #C0C0C0;
}
button.start.lock:hover,
button.pause.lock:hover,
button.resume.lock:hover,
button.compare.lock:hover {
  color: #FFFFFF;
  background-color: #D3D3D3;
  border: 2px solid #C0C0C0;
}
/* LOCKED BUTTONS */
