.cell-row {
  display: flex;
  flex-direction: row;
}

.cell-column {
  width: 18px;
  height: 18px;
  background-color: #FFFFFF;
  border: 1px solid #D3D3D3;
}

.netscape-navigator {
  width: 16px;
  background-color: #48C1F0;
}
