.board-container {
  height: 900px;
}

.cell-row {
  display: flex;
  flex-direction: row;
}

.cell-column {
  width: 18px;
  height: 18px;
  border: 1px solid var(--color-lightgray);
}

.cell-column:hover {
  background-color: var(--color-skyblue);
}
