.board-container {
  height: 900px;
  align-items: center;
}

.cell-row {
  display: flex;
  flex-direction: row;
}

.cell-column {
  width: 18px;
  height: 18px;
  border: 1px solid #D3D3D3;
}

.cell-column:hover {
  background-color: #FFFF00;
}

.netscape-navigator {
  width: 100%;
}
