.App {
  display: grid;
  grid-template-columns: 20% 900px;
  justify-content: center;
}
.menu-container {
  display: inline-block;
  margin-right: 15px;
  padding: 8px;
  align-items: center;
  border: 1px solid #48C1F0;
  border-radius: 20px;
}
.board-container {
  height: 900px;
  align-items: center;
}
footer {
  text-align: right;
}
footer span a {
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  color: #228B22;
  padding: 4px 0 0 20px;
}
