.cell-row {
  display: flex;
  flex-direction: row;
}

.cell-column {
  width: 18px;
  height: 18px;
  background-color: snow;
  border: 1px solid lightsteelblue;
}

.netscape-navigator {
  width: 16px;
}
