.controlmenu {
  display: inline-block;
  margin-left: 15px;
  border: 1px solid var(--color-skyblue);
  border-radius: 20px;
  text-align: center;
}

.controlmenu__buttonwrap button {
  font-size: 1.2em;
  font-weight: bold;
  width: 80%;
  margin-bottom: 30px;
  padding: 16px;
  background-color: var(--color-white);
  border: 2px solid;
  border-radius: 40px;
  word-wrap: break-word;
}

.controlmenu__buttonwrap button:focus {
  outline: none;
}

.controlmenu__buttonwrap button.start {
  color: var(--color-white);
  background-color: var(--color-green);
  border-color: var(--color-green);
}

.controlmenu__buttonwrap button.start:hover {
  color: var(--color-green);
  background-color: var(--color-white);
  border-color: var(--color-green);
}

.controlmenu__buttonwrap button.pause {
  color: var(--color-white);
  background-color: var(--color-orange);
  border: 2px solid var(--color-orange);
}

.controlmenu__buttonwrap button.pause:hover {
  color: var(--color-orange);
  background-color: var(--color-white);
  border: 2px solid var(--color-orange);
}

.controlmenu__buttonwrap button.resume {
  color: var(--color-white);
  background-color: var(--color-darkblue);
  border-color: var(--color-darkblue);
}

.controlmenu__buttonwrap button.resume:hover {
  color: var(--color-darkblue);
  background-color: var(--color-white);
  border-color: var(--color-darkblue);
}

.controlmenu__buttonwrap button.reset {
  color: var(--color-white);
  background-color: var(--color-red);
  border-color: var(--color-red);
}

.controlmenu__buttonwrap button.reset:hover {
  color: var(--color-red);
  background-color: var(--color-white);
  border-color: var(--color-red);
}

.controlmenu__buttonwrap button.compare {
  color: var(--color-white);
  background-color: var(--color-skyblue);
  border-color: var(--color-skyblue);
}

.controlmenu__buttonwrap button.compare:hover {
  color: var(--color-skyblue);
  background-color: var(--color-white);
  border-color: var(--color-skyblue);
}

.controlmenu__buttonwrap button.randomize {
    color: var(--color-white);
    background-color: var(--color-darkgray);
    border-color: var(--color-darkgray);
}

.controlmenu__buttonwrap button.randomize:hover {
  color: var(--color-darkgray);
  background-color: var(--color-white);
  border-color: var(--color-darkgray);
}

.controlmenu__buttonwrap button.lock {
  color: var(--color-gray);
  background-color: var(--color-lightgray);
  border: 2px solid var(--color-lightgray);
}
