.templatesmenu {
  text-align: center;
  color: #303030;
  padding: 10px;
}

.templatemenu__options {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.templatemenu__options .templatemenu__option {
  width: 104px;
  margin: 3px;
  padding: 10px 0;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  color: #3c4f6f;
}

.templatemenu__options .templatemenu__option:hover {
  background-color: #f0f8ff;
}

.templatemenu__options .templatemenu__title {
  margin: 6px 0 4px 0;
}

.templatemenu__options .templatemenu__img {
  margin: 0 auto;
}

.templatemenu__options .templatemenu__img:hover {
  transform: scale(1.02);
}
